.DS_Store
.ipynb_checkpoints

data/
full-size/
training_v1/
saved_model/
checkpoint/
training_archive/
training_images/
training_masks/
training_v2/
tf_segmentation.ipynb

s1740486@student*
*.zip
*.tif
*.svg



